doctype html
html
  head
    meta encoding="utf-8"
    title Boilerplate
    link rel="stylesheet" type="text/css" href="css/application.css"
    meta name="viewport" content="width=device-width, initial-scale=1"
    link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
  body.bg-darken-1
    .bg-navy.white
      .container
        .left.sm-show
          a.btn Boilerplate
        .right
          a.btn.regular Admin

        a.btn.regular Sales
        a.btn.regular Inventory

    .mb2.lg-show

    .container.bg-white.border.rounded.p2
      .gutter2.clearfix
        .sm-col.sm-col-3.lg-col-2.mb2

          a.btn.btn-primary.company-bg-color.block Branding
          a.btn.block Company
          a.btn.block Debranding

        .sm-col.sm-col-9.lg-col-10.p1
          .mb3
            .h1.border-bottom Branding

          .gutter2
            .md-col.md-col-8.mb2
              .mb1
                label Body Color
                input type="text"

              .mb1
                label Body Color
                input type="text"

            .md-col.md-col-4
              img.block.border.p1.rounded src="http://fakeimg.pl/300x200"

              .mb2
                .btn.muted
                  i.fa.fa-remove.pr1
                  | Remove Image

              .mb1
                .btn.btn-outline.blue
                  i.fa.fa-cloud-upload.pr1
                  | Upload Image
